* {
	margin: 0;
	padding: 0;
    outline: 0px;
}

body {

    font-family: "Microsoft Yahei" !important 
}

.wr{
   font-family: "Microsoft Yahei" !important 
}
p {
	margin: 0px;
}
.sts{
    	font-family: "宋体" !important
}

.ye {
	color: #db530f !important
}

body,
html {
	font-family: 'Microsoft Yahei';
}

.bghs {
	background: #DCDCDC;
}

.bgbs {
	background: #fff;
}

.bge3 {
	background: #E3F3FB;
}

.au {
	margin-left: auto;
	margin-right: auto;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr20 {
	margin-right: 20px;
}

.mr30 {
	margin-right: 30px;
}

.mr40 {
	margin-right: 40px;
}

.mr50 {
	margin-right: 50px;
}

.mr60 {
	margin-right: 60px;
}

.dian {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.dianer {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.diansan {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.dianwu {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.bgff {
	background: #fff;
}

.box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.br0 {
	border: 0px !important
}

.bglscf {
	background: #0F6BAA;
	color: #fff;
}

.box_a {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	-moz-o-flex: 1;
	box-flex: 1;
	display: block;
}

.box_b {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-ms-box-flex: 2;
	-moz-o-flex: 2;
	box-flex: 2;
}

.box_c {
	-webkit-box-flex: 3;
	-moz-box-flex: 3;
	-ms-box-flex: 3;
	-moz-o-flex: 3;
	box-flex: 3;
}

.box_d {
	-webkit-box-flex: 4;
	-moz-box-flex: 4;
	-ms-box-flex: 4;
	-moz-o-flex: 4;
	box-flex: 4;
}

.ma {
	margin: auto;
}

.xz_po_a a {
	color: #575757;
}

.page input[type="button"] {
	min-height: 38px;
}

.yj4 {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.yj {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.bkbs {
	border: 1px solid #d6d6db;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.pd {
	padding-left: 10px;
	padding-right: 10px;
}

.f_i {
	display: inline-block  !important;
	*display: inline  !important;
	*zoom: 1  !important;
	background: url(../img/xbt.png); 
}

.f_q {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background: url(../img/icon.png);
}

.f_b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.auo {
	margin: auto
}

.mt140 {
	margin-top: 140px;
}

.wd {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	/* z-index: 10; */
}

.wd1 {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

.mwd {
	min-width: 1100px;
}

.red {
	color: #e50012 !important
}

.wc {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

.footer a {
	margin-right: 10px;
	padding-left: 10px;
	color: #C6C7C8;
}

.footer {
	border: 0px;
	min-width: 1200px;
	background: #2e3643;
	color: #C6C7C8;
	font-size: 14px
}

.ov {
	overflow: hidden;
}

.footer a:hover {
	color: #f0ff00;
	border: 0px;
}

em {
	font-size: 20px;
	margin-right: 6px;
	position: relative;
	;
	top: 8px;
}

.tm5 {
	filter: alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}

.tr {
	text-align: right;
}

.tl {
	text-align: left;
}

.gun_title {
	padding-left: 25px;
}

.mt0 {
	margin-top: 0px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt2 {
	margin-top: 2px !important;
}

.mt4 {
	margin-top: 4px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mt45 {
	margin-top: 45px !important;
}

.mt50 {
	margin-top: 50px !important;
}

.mt60 {
	margin-top: 60px !important;
}

.b {
	font-weight: 400;
}

.brm {
	border-right: 1px solid #C6C6C6
}

.br {
	border: 1px solid #EAEAEA;
}

.pr {
	position: relative;
	z-index: 10;
}

.pr20 {
	padding-right: 20px;
}

.pr10 {
	padding-right: 10px;
}

.pr30 {
	padding-right: 30px;
}

.mt70 {
	margin-top: 70px;
}

.mt80 {
	margin-top: 80px;
}

.mt90 {
	margin-top: 90px;
}

.mt100 {
	margin-top: 100px;
}

.mt200 {
	margin-top: 200px;
}

.mt180 {
	margin-top: 180px;
}

.mt110 {
	margin-top: 110px;
}

.mt120 {
	margin-top: 120px;
}

.mt130 {
	margin-top: 130px;
}

.ml10 {
	margin-left: 10px;
}

.ml0 {
	margin-left: 0px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.pr40 {
	padding-right: 40px;
}

.bgred {
	background: #ED6945
}

.c57 {
	color: #575757;
}

.ml20 {
	margin-left: 20px !important;
}

.ml30 {
	margin-left: 30px;
}

.ml40 {
	margin-left: 40px;
}

.ml50 {
	margin-left: 50px;
}

.ml60 {
	margin-left: 60px;
}

.ml70 {
	margin-left: 70px;
}

.ml80 {
	margin-left: 80px;
}

.ml100 {
	margin-left: 100px;
}

.m90 {
	margin-left: 90px;
}

.ml110 {
	margin-left: 110px;
}

.ml120 {
	margin-left: 120px;
}

.fz12 {
	font-size: 12px;
}

.fz13 {
	font-size: 13px;
}

.dfds_Xsd_xsfx .z14 {
    color: #db530f;
}
.fz14 {
	font-size: 14px !important;
}

.fz15 {
	font-size: 15px !important;
}

.fz16 {
	font-size: 16px !important;
}

.fz18 {
	font-size: 18px !important;
}

.fz20 {
	font-size: 20px;
}

.fz20 {
	font-size: 20px;
}

.fz21 {
	font-size: 21px;
}

.fz22 {
	font-size: 22px;
}

.fz24 {
	font-size: 24px;
}

.fz26 {
	font-size: 26px;
}

.fz28 {
	font-size: 28px;
}

.fz30 {
	font-size: 30px;
}

.fz40 {
	font-size: 40px;
}

.fz32 {
	font-size: 32px;
}

.fz34 {
	font-size: 34px;
}

.fz36 {
	font-size: 36px;
}

.fz48 {
	font-size: 48px;
}

.fz53 {
	font-size: 53px;
}

.ptm {
	padding: 100px 0px;
}

.pt0 {
	padding-top: 0px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.bgye {
	background: #E8770B;
}

.pl4 {
	padding-left: 4px;
}

.pr5 {
	padding-right: 5px;
}

.pl0 {
	padding-left: 0px;
}

.pl10 {
	padding-left: 10px;
}

.pl20 {
	padding-left: 20px;
}

.pl30 {
	padding-left: 30px;
}

.pl40 {
	padding-left: 40px;
}

.pl50 {
	padding-left: 50px;
}

.pl5 {
	padding-left: 5px;
}

.pl60 {
	padding-left: 60px;
}

.pl70 {
	padding-left: 70px;
}

.pl80 {
	padding-left: 80px;
}

.pl90 {
	padding-left: 90px;
}

.pl100 {
	padding-left: 100px;
}

.pt5 {
	padding-top: 5px;
}

.pm5 {
	padding-bottom: 5px;
}

.pm0 {
	padding-bottom: 0px !important;
}

.pl0 {
	padding-left: 0px !important;
}

.pd0 {
	padding: 0px !important;
}

.pm15 {
	padding-bottom: 15px;
}

.pt20 {
	padding-top: 20px;
}

.pt30 {
	padding-top: 40px;
}

.pt40 {
	padding-top: 40px;
}

.pt50 {
	padding-top: 50px;
}

.pt60 {
	padding-top: 60px;
}

.pt70 {
	padding-top: 70px;
}

.pt80 {
	padding-top: 80px;
}

.pm10 {
	padding-bottom: 10px;
}

.pm20 {
	padding-bottom: 20px;
}

.pm30 {
	padding-bottom: 40px;
}

.pm40 {
	padding-bottom: 40px;
}

.pm50 {
	padding-bottom: 40px;
}

.pm70 {
	padding-bottom: 70px;
}

input,
textarea {
	text-indent: 10px;
}

.input_one {
	width: 250px;
	position: relative;
}

.input_two {
	width: 120px;
	position: relative;
}

.input310 {
	width: 310px;
	position: relative;
}

.input180 {
	width: 180px;
	position: relative;
}

.input280 {
	width: 280px;
	position: relative;
}

.input77 {
	width: 77px;
	position: relative;
}

.sj24 {
	text-indent: 24px;
}

.show {
	display: block !important;
}

.cf {
	color: #fff !important;
}

.pr60 {
	padding-right: 60px;
}

.cls {
	color: #0F6BAA;
}

.cl5e5e5e {
	color: #5e5e5e;
}

.pt15 {
	padding-top: 15px;
}

.pl15 {
	padding-left: 15px;
}

.bg_h {
	background: #FF7800;
}

.ch {
	color: #000;
}

.bbm {
	border-bottom: 1px solid #EAEAEA
}

.btm {
	border-top: 1px solid #F1F3F5
}

.index_pup_a {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
}

.zd {
color:#9b9b9b;
}

.zh_a_pup {
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.pup_submit {
	font-size: 14px;
}

.index_logio_a {
	width: 360px;
	position: relative;
	background: #fff;
	margin: 80px auto;
	position: relative;
	z-index: 10;
	padding: 40px 0px 30px 0px;
}

.index_logio_a label {
	width: 18px;
	height: 18px;
	position: absolute;
}





.gd {
	transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
}

.dfg_poiuy_a {
	cursor: pointer;
	display: block
}

.zh_po {
	color: #575757;
	font-size: 16px;
}




.cen {
	text-align: center;
}

.cr {
	text-align: right;
}


em {
	color: red;
}




.qc {
	clear: both;
}




.ls,
a {
color:#0360bd;
}

ul {
	list-style: none
}

.bgls {
	background: #55C6F2;
	color: #fff;
}

.datu_t_a img {
	width: 100%;
	height: 100%;
}

.po_a_a {
	margin-bottom: 10px;
	position: relative;
	left: -14px;
}




.zc {
	color: #7d7d7d !important;
}

.zb {
	color: #404040 !important;
}

.za {
	color: #231815 !important;
}

.f-fix li a:hover {
	cursor: pointer;
	border-bottom: 3px solid #0b408c;
}

.bm {
	border-bottom: 3px solid #0b408c;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.hs {
	color: #528D69 !important;
}


.searchable-select-hide {
  display: none;
}
 
.searchable-select {
  display: inline-block;
  min-width: 200px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  position: relative;
  outline: none;
}
 
.searchable-select-holder{
  padding: 6px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  min-height: 30px;
  box-sizing: border-box;
   
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
 
.searchable-select-caret {
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border-color: black transparent transparent transparent;
  top: 0;
  bottom: 0;
  border-style: solid;
  border-width: 5px;
  margin: auto;
  right: 10px;
}
 
.searchable-select-dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px;
  border-top: none;
  top: 28px;
  left: 0;
  right: 0;
}
 
.searchable-select-input {
  margin-top: 5px;
  border: 1px solid #ccc;
  outline: none;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
}
 
.searchable-scroll {
  margin-top: 4px;
  position: relative;
}
 
.searchable-scroll.has-privious {
  padding-top: 16px;
}
 
.searchable-scroll.has-next {
  padding-bottom: 16px;
}
 
.searchable-has-privious {
  top: 0;
}
 
.searchable-has-next {
  bottom: 0;
}
 
.searchable-has-privious, .searchable-has-next {
  height: 16px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  z-index: 10;
  background-color: white;
  line-height: 8px;
  cursor: pointer;
}
 
.searchable-select-items {
  max-height: 400px;
  overflow-y: scroll;
  position: relative;
}
 
.searchable-select-items::-webkit-scrollbar {
  display: none;
}
 
.searchable-select-item {
  padding: 5px 5px;
  cursor: pointer;
  min-height: 30px;
  box-sizing: border-box;
    transition: all 1s ease 0s;
}
 
.searchable-select-item.hover {
 
  background: #555;
  color: white;
}
 
.searchable-select-item.selected {
  background: #28a4c9;
  color: white;
}
.pl20 .sd_uty_xserx:first-child{
	width: 41%;
}
.pl20 .sd_uty_xserx:first-child .bbm{
	width: 294px;
}
.pl20 .sd_uty_xserx:nth-child(3){
	width: 18%;
	padding-right: 0;
}
strong{
    font-weight: normal;
}
h1,h2,h3{
    display: none;
}